<div class="bg-fa">
  <div class="container">
    <div class="row mx-0 pt-5">
      <div class="col-md-6 text-left">
        <div class="h3 font-weight-bold">
          Shopping Cart <span class="h4"> ({{ getProductsCount() }}) </span>
        </div>
        <div class="mt-4" *ngIf="products.length == 0">
          <div class="alert alert-warning">shopping cart is empty !</div>
        </div>
        <div
          class="row mx-0 bg-white p-3 mt-4 shadow-light"
          *ngFor="let product of products"
        >
          <div class="col-lg-2 col-4 px-0">
            <img
              [src]="getImage(product.product.images[0])"
              alt=""
              height="100%"
              width="100%"
            />
          </div>
          <div class="col-lg-7 col-8">
            <div class="h5 break">{{ product.product.titleEnglish }}</div>
            <div class="text-muted pt-0 mt-0 break">
              {{ product.product.descEnglish }}
            </div>
            <div class="mt-2 text-danger font-weight-bold">
              {{ product.product.price }} JD
            </div>
          </div>
          <div class="col-lg-3 text-left row mr-auto mt-lg-0 mt-3 px-0">
            <div class="col-6 ml-0 col-lg-12 px-lg-0 px-xl-2 px-3">
              <div
                class="row mx-0 px-0"
                style="height: 40px; box-shadow: 0px 0px 8px #e9e8e8"
              >
                <div
                  class="border col-4 d-flex bg-light"
                  (click)="editQuantity(product.product, -1)"
                >
                  <div class="m-auto">
                    <i
                      class="fa fa-minus text-muted mt-2"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
                <div class="border col-4 d-flex">
                  <div class="m-auto">
                    <div class="mt-1">{{ product.qty }}</div>
                  </div>
                </div>
                <div
                  class="border col-4 d-flex bg-light"
                  (click)="editQuantity(product.product, 1)"
                >
                  <div class="m-auto">
                    <i
                      class="fa fa-plus text-muted mt-2"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
              <!-- <div
                class="my-auto col-6 px-0"
                style="text-align: left !important"
              >
                الكمية
              </div> -->
              <!-- <div class="col-6">
                <select
                  class="form-select w-100"
                  aria-label="Default select example"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div> -->
            </div>
            <div class="mt-3 text-muted small col-6 col-lg-12">
              {{ product.product.count }} peices available
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-1"></div> -->
      <div class="col-md-6 text-left pr-50 mt-md-0 mt-3">
        <div class="bg-white p-md-4 p-3 shadow-light mb-3 rounded">
          <div class="row mx-0 h5">
            <div class="w-auto my-auto px-0 h4">Total :</div>
            <div class="w-auto my-auto text-danger">
              <span class="font-weight-bold">{{ getTotal() }}</span>
              <span class="mx-2"> JD</span>
            </div>
          </div>
          <div class="row mx-0 h5" *ngIf="city!=''">
            <div class="w-auto my-auto px-0 h6">Delivery :</div>
            <div class="w-auto my-auto text-danger">
              <span class="font-weight-bold" *ngIf="city=='amman'"  style="text-decoration: line-through 2px">3</span>
              <span class="font-weight-bold" *ngIf="city!='amman'"  style="text-decoration: line-through 2px">5</span>
              <span class="mx-2"  style="text-decoration: line-through 2px"> JD</span>
              <span class="mx-2">Free delivery till (30/09/2021).</span>
            </div>
          </div>
        </div>
        <div class="bg-white shadow-light p-md-4 p-3 rounded">
          <div class="h5 text-center py-2">Delivering Details</div>
          <form [formGroup]="orderForm">
            <div class="row mx-0 mt-4">
              <div class="form-group col-md-6 pl-0">
                <label for="">Name</label>
                <input
                  type="text"
                  maxlength="100"
                  required
                  class="form-control mb-1"
                  formControlName="name"
                />
                <mat-error
                  *ngIf="
                    orderForm.controls.name.errors?.required &&
                    orderForm.controls.name.touched
                  "
                >
                  this field is required
                </mat-error>
              </div>
              <div class="form-group col-md-6 pl-0">
                <label for=""> Phone Number</label>
                <input
                  type="tel"
                  class="form-control mb-1"
                  formControlName="phone"
                  required
                  maxlength="12"
                  minlength="10"
                />
                <mat-error *ngIf="orderForm.controls.phone.hasError('pattern')">
                  phone number contains only numbers
                </mat-error>
                <mat-error
                  *ngIf="orderForm.controls.phone.hasError('minlength')"
                >
                  phone number at least 10 numbers
                </mat-error>
                <mat-error
                  *ngIf="
                    orderForm.controls.phone.errors?.required &&
                    orderForm.controls.phone.touched
                  "
                >
                  this field is required
                </mat-error>
              </div>
            </div>

            <div class="row mx-0 px-0 mt-4">
              <div class="form-group col-6 px-1">
                <label for="">Country</label>

                <input
                  type="text"
                  class="form-control mb-1"
                  value="Jordan"
                  disabled
                />
              </div>

              <div class="form-group col-6 pl-0">
                <label>City</label>
                <select class="form-control" formControlName="city" required (change)="cityChanged($event)">
                  <option value="amman">amman</option>
                  <option value="balqaa">balqa</option>
                  <option value="irbid">irbid</option>
                  <option value="zarqaa">zarqa</option>
                  <option value="ma'an">ma'an</option>
                  <option value="tafela">tafela</option>
                  <option value="aqaba">aqaba</option>
                  <option value="madaba">madaba</option>
                  <option value="ajloon">ajloon</option>
                  <option value="jarash">jarash</option>
                  <option value="karak">karak</option>
                  <option value="mafraq">mafraq</option>
                </select>
                <mat-error
                  *ngIf="
                    orderForm.controls.city.errors?.required &&
                    orderForm.controls.city.touched
                  "
                >
                  this field is required
                </mat-error>
              </div>
            </div>

            <div class="form-group mt-3">
              <label for=""> Address Details</label>
              <textarea
                required
                formControlName="address"
                rows="3"
                class="w-100 rounded form-control mb-1"
                maxlength="500"
              ></textarea>
              <mat-error
                *ngIf="
                  orderForm.controls.address.errors?.required &&
                  orderForm.controls.address.touched
                "
              >
                this field is required
              </mat-error>
            </div>
            <div class="form-group mt-3">
              <label for=""> Extra Notes</label>
              <textarea
                formControlName="notes"
                maxlength="500"
                rows="3"
                class="w-100 rounded form-control"
              ></textarea>
            </div>
            <div class="mt-4">
              <button class="btn btn-green px-4" (click)="placeOrder()">
                confirm order
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bg-white"></div>
  </div>
</div>
